---
layout: default
---

{% assign meses = "janeiro, fevereiro, março, abril, maio, junho, julho, agosto, setembro, outubro, novembro, dezembro" | split: ", " %}
{% assign mes_index = page.date | date: "%-m" | minus: 1 %}

<article class="post">
  <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      
      <p class="post-meta">{{ page.date | date: "%-d" }} de {{ meses[mes_index] }} de {{ page.date | date: "%Y" }}</p>
      
      <p class="post-reading-time">Tempo de leitura: {{ page.content | reading_time | replace: 'minutes', 'minutos' | replace: 'minute', 'minuto' }}</p>

      {% if page.categories and page.categories.size > 0 %}
      <p class="post-categories">Categorias:
        {% for category in page.categories %}
          <a href="{{ site.baseurl }}/category/{{ category | slugify }}/">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
      </p>
      {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/copy-code.css">
  <script defer src="{{ site.baseurl }}/assets/js/copy-code.js"></script>
</article>